.top {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  column-gap: 4rem;
  row-gap: 2rem;
  align-items: center;
  h2 {
    color: white;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
  .text {
    max-width: 696px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #161616;
  margin-top: 3rem;
  row-gap: 1rem;
}
.card {
  width: 240px;
  min-width: 240px;
  :global(.fr-tile) {
    height: 100%;
  }
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

@media (max-width: 1200px) {
  .top {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .top {
    row-gap: 1rem;
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.125rem;
    }
  }
  .cards {
    flex-direction: col;
    margin-top: 2rem;
    justify-content: center;
  }
}
