.container {
  h2 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 1.75rem;

    color: #161616;
  }
}

@media (min-width: 1200px) {
  .container {
    h2 {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    h2 {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}
