.section {
  background-color: var(--bg-light-grey);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 1.5rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}

.recap {
  width: 282px;
  height: 232px;
  border: 1px solid #dfdfdf;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    padding-top: 3.3rem;
  }
}

@media (max-width: 600px) {
  .list {
    justify-content: center;
  }
}
