.hero {
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.firstGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  justify-content: end;
}

.secondGrid {
  width: 100%;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  padding-left: 2rem;
  margin: 0;
}

.highlight {
  color: var(--yellow);
}

.picture {
  display: flex;
  width: 100%;
}

.heroImage {
  display: block;
  width: 100%;
  max-height: 256px; /* mobile */
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 580px;
    padding-top: 0;
  }

  .firstGrid {
    width: 60%;
    padding: 0 3rem;
  }

  .secondGrid {
    width: 40%;
  }

  .title {
    font-size: 56px;
    line-height: 64px;
  }

  .heroImage {
    max-height: 400px;
  }
}