.day {
  color: #3d3d80;
  background-color: #e4e4f5;
}

.night {
  color: #ffffff;
  background-color: #5151a1;
}

.pro {
  color: #5c3d00;
  background-color: #fcc63a;
}

.student {
  color: #5c3d00;
  background-color: #fde7b8;
}

.h24 {
  color: #5151a1;
  background-color: white;
  border: solid 1px #5151a1;
}
