.day {
  color: var(--text-purple);
  background-color: var(--bg-light-purple);
}

.night {
  color: #ffffff;
  background-color: var(--bg-dark-purple);
}

.pro {
  color: var(--text-yellow);
  background-color: var(--bg-yellow);
}

.student {
  color: var(--text-yellow);
  background-color: var(--bg-light-yellow);
}

.h24 {
  color: var(--text-dark-purple);
  background-color: white;
  border: solid 1px var(--text-dark-purple);
}

.pink {
  color: var(--text-dark-pink);
  background-color: var(--bg-light-pink);
}

.lightBrown {
  color: var(--text-dark-pink);
  background-color: var(--bg-light-brown);
}
