.title {
  color: black;
  font-weight: 600;
  margin-right: 4px;
  margin-left: 4px;
}

.link {
  color: var(--text-title-blue-france);
}

.paragraph {
  margin-left: 20px;
  margin-bottom: 0px;
  color: black;
}
