.illustration {
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 0;
  max-height: 100%;
}

@media (min-width: 1200px) {
  .illustration {
    display: inline-block;
  }
}

.needToTalkSittingLeft {
  left: 85px;
  bottom: 0px;
}

.needToTalkStandingLeft {
  left: 0px;
  bottom: 0px;
}

.needToTalkSittingRight {
  right: 58px;
  bottom: 0px;
}

.needToTalkStandingRight {
  right: 0px;
  bottom: 0px;
}

.needToTalkWave {
  left: 0px;
  bottom: 0px;
}

.feelingVideo {
  right: 0px;
  top: 0px;
}

.homeWave {
  left: 0px;
  bottom: 0px;
}

.homeWave2 {
  left: 0px;
  bottom: 0px;
}

.homeMozaic {
  right: 0px;
  bottom: 0px;
}

.homePeopleDesktop {
  left: 55px;
  bottom: 0px;
}

.homeGirlDesktop {
  left: 561px;
  bottom: 0px;
}

.homeTestimonial1 {
  right: 40px;
  top: 40px;
}

.homeTestimonial2 {
  left: 40px;
  bottom: 100px;
}
