.topBanner {
  background-color: var(--bg-light-grey);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding: 3rem;
  gap: 1rem;

  .title {
    font-size: 3.5rem;
    max-width: 52.5rem;
    line-height: 4rem;
  }

  .subtitle {
    max-width: 52.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media (max-width: 425px) {
    .title {
      font-size: x-large;
      max-width: 100%;
      line-height: normal
    }

    .subtitle {
      font-size: large;
    }
  };
}