.section {
  background-color: var(--bg-dark-purple);
}

.container {
  color: white;
  text-align: center;
  padding: 1rem;
}

.title {
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0.75rem;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 2rem;
}

.cards {
  display: grid;
  gap: 1.5rem;
  margin: 0 auto;
}

.card {
  background-color: white;
  color: black;
  text-align: left;
}

.cardIcon {
  width: 3rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
}

.cardSubtitle {
  font-size: 1.125rem;
  margin: 0 0 2rem;
  font-weight: 700;
}

.cardList {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  list-style-type: none;
  line-height: 1.75;

  li {
    margin-bottom: 0.5rem;
  }
}

  @media (max-width: 425px) {
    .title {
      font-size: x-large;
      max-width: 100%;
      line-height: normal
    }

    .subtitle {
      font-size: large;
    }

    .cardTitle {
      font-size: x-large;
    }

    .cardSubtitle {
      font-size: large;
    }

    .cardList {
      font-size: medium
    }

    .card {
      padding: 1rem;
    }
  };

  @media (min-width: 768px) {
    .container {
      padding: 4rem 0;
    }
    
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
    
    .card {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
@media (min-width: 420px) {
  .card {
    padding: 3rem;
  }
}
