.textColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 540px;

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

.title {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0;
}

.intro {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 768px) {
  .textColumn {
    max-width: 100%;

    .title {
      font-size: x-large;
    }
  }
}
