.section {
  background-color: var(--bg-light-grey);
}

.container {
  padding: 3.5rem 0;
  display: flex;
  gap: 2rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.text {
  flex: 1;
  max-width: 22rem;
}

.card {
  flex: 1;
}
