:root {
  --purple: #5b4fcf;

  --text-color-purple: #3d3d80;
  --bg-color-purple: #e4e4f5;

  --text-color-dark-purple: #5151a1;

  --text-color-yellow: #5c3d00;
  --bg-color-yellow: #fcc63a;

  --bg-color-light-yellow: #fde7b8;
}
