:root {
  --purple: #5b4fcf;

  --text-purple: #3d3d80;
  
  --text-dark-purple: #5151a1;
  --bg-dark-purple: #5757AD;

  --bg-light-purple: #e4e4f5;
  
  --text-yellow: #5c3d00;
  --bg-yellow: #fcc63a;

  --bg-light-yellow: #fde7b8;

  --bg-light-grey: #F9F6F2;

  --text-dark-pink: #6E445A;

  --bg-light-pink: #FEE7FC;
  
  --bg-light-brown: #FDDFDB;
}
